body {
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#content-container {
    display: flex;
    justify-content: space-between; /* Align items with space between them */
    width: 80%; /* Adjust as needed */
    margin: 0 auto; /* Center the content container */
}

#panda {
    width: 300px;
    height: 150px;
    background-image: url('/Users/iFruit/Desktop/web/panda-image.jpg'); /* Replace with your panda image */
    background-size: cover;
    margin-right: 20px; /* Add margin to separate the panda image from the mountain */
}

#mountain {
    width: 300px;
    height: 500px;
    background-image: url('/Users/iFruit/Desktop/web/mountain-image.jpg'); /* Replace with your mountain image */
    background-size: cover;
    position: relative;
}

#monkey {
    width: 100px;
    height: 100px;
    background-image: url('/Users/iFruit/Desktop/web/monkey-image.jpg'); /* Replace with your monkey image */
    background-size: cover;
    position: absolute;
    bottom: 0;
}

.buttons-container {
    display: flex;
    flex-direction: column; /* Arrange buttons vertically */
    gap: 10px;
}

.selection-button {
    padding: 10px 20px;
    font-size: 32px;
}
